.successMessage {
 border: solid 1px;
 background-color: honeydew;
 font-size: 15px;
 padding: 5px;
 margin: 10px;
}

.errorMessage {
    border: solid 1px;
    background-color: coral;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
   }