.note-body {
    background-color: #F9F3CE;
    border-radius: 15px;
    margin: 20px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    word-wrap: break-word;
    box-shadow: 0 0 2px 1px #4d6a5b;
    white-space: pre-wrap;
}

.modal-body {
  background-color: #F9F3CE;
  border-radius: 15px;
  margin: auto;
  margin-top: 40px;
  max-width: 50%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 2px 1px #4d6a5b;
}

.note-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    max-height: 20%;
}

textarea {
    background-color: #F9F3CE;
    min-height: 200px;
    max-width: 90%;
    padding-left: 15px;
    border: none;
    resize: none;
    outline: none;
}

label {
  font-weight: bold;
  text-align: end;
  padding-bottom: 20px;
}

  .overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  .modal {
    position: fixed;
    max-width: 300px;
    width:100%;
    background-color: #F9F3CE;
    transform: translate(-50%, -50%);
    display: flex;
    top:40%;
    left:50%;
    padding: 30px;
  }

  input[type=text] {
    background-color: #F9F3CE;
    width: 80%;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    margin: 20px 90px 10px;
    box-shadow: 0 0 2px 1px #4d6a5b;
  }

  input[type=image] {
    width: 5.5%;
    padding: 5px 10px 5px 0px;
  }

  .add-bar{
    background-color: #F9F3CE;
    z-index: 100; 
    width: 70px;
    height: 100%;
    position: fixed;
    box-shadow: 0 0 2px 1px #4d6a5b;
  }

  .add-btn {
    width: 100% !important;
    filter: opacity(0.35) drop-shadow(0 0 0 #719181) !important;
  }


