.intro-container {
  display: flex;
  flex-flow: column;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #9e9e91;
  padding: 50px;
}

.contact-container {
  display: flex;
  flex-flow: column;
}

.profile-image {
  width: 35%;
  border-radius: 50%;
  margin-top: 10%;
}

.icon {
  width: 20px;
  padding-right: 10px;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #9e9e91;
  color: #fff;
  padding: 0.5px 0.5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.contact-button img {
  width:50%;
}