.sticky {
    display: flex;
    flex-direction: row;
}

.list-inline {
	list-style: none;
	margin-left: -2px;
	margin-right: -2px;
	padding: 0;
    cursor:pointer;
}

.list-inline > li {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
    padding-left: 30px;
}

.active {
    font-weight: bold;
}

.image-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #9e9e91;
    color: #fff;
    padding: 1px 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-button img {
    height: 40%;
}